.body{
	overflow: hidden;
}
.header{
	width: 100%;
	height: 100px;
	background-color: #AAA;
	margin-bottom: 30px;
}

.title{

	margin-top: 0;
}

/*.left-col{
	/*float: left;*/
	/*width: 10%;
	height: 600px;*/
	/*position: fixed;*/
/*}*/
.appt-block{
	margin-bottom: 10px;
}
.appt-block, .appt, .appts{
	border: 1px solid #000;
}

.appts{
	display: inline-block;
	width: 95%;
}

.appt{
	background-color: tan;
}

.appt-btn{
	/*float: right;*/
}

/*.day{
	display: inline-block;
}*/
.date{
	/*float: right;*/
}